/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (in jqModal.js). You
	can change this value by either;
	  a) supplying one via CSS
	  b) passing the "zIndex" parameter. E.g.  (window).jqm({zIndex: 500}); */
	
.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}



/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}


div.jqmOverlay { background-color:white; }
div.jqDrag {cursor: move;}


div.jqmDialog {
  	display: none;
    
    position: fixed;
    top: 17%;
	left: 50%;
    
    margin-left: -200px;
	width: 400px;

  	overflow: hidden;
  	font-family:verdana,tahoma,helvetica;
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html div.jqmDialog {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}


/* [[[ Title / Top Classes ]]] */
div.jqmdTC { 
  background: #d5ff84 url(../../include_img/dialog/sprite.gif) repeat-x 0px -82px; 
  color: #555;
  padding: 7px 22px 5px 5px;
  /*font-family:"sans serif",verdana,tahoma,helvetica;*/
  font-size:14px;
  font-weight: bold;
  zoom: 1;
  height:16px;
}

div.jqmdTL { background: url(../../include_img/dialog/sprite.gif) no-repeat 0px -41px; padding-left: 3px;}
div.jqmdTR { background: url(../../include_img/dialog/sprite.gif) no-repeat right 0px; padding-right: 3px; zoom: 1;}


/* [[[ Body / Message Classes ]]] */
div.jqmdBC {
  background: url(../../include_img/dialog/bc.gif) repeat-x center bottom;
  padding: 7px 7px 7px;
  height: 180px;
  /*overflow: auto;*/
}
div.jqmdBL { background: url(../../include_img/dialog/bl.gif) no-repeat left bottom; padding-left: 7px; }
div.jqmdBR { background: url(../../include_img/dialog/br.gif) no-repeat right bottom; padding-right: 7px; zoom: 1 }

div.jqmdMSG { color: #666; }
div.jqmdMSG {z-index:3500;}
div.jqmdMSG p {border:1px dotted #ccc; /*overflow:auto;*/ height:140px; padding:3px; font-size:14px;}


/* [[[ Button classes ]]] */
input.jqmdX {
  position: absolute;
  right: 7px;
  top: 4px;
  padding: 0 0 0 19px;
  height: 19px;
  width: 0px;
  background: url(../../include_img/dialog/close.gif) no-repeat top left;
  overflow: hidden;
  border:none;
}
input.jqmdXFocus {background-position: bottom left; outline: none;}

.jqmdButtons {/*position:absolute;*/ bottom:10px; width:93%; text-align:center; display:block;}

div.jqmdBC button, div.jqmdBC input[type="submit"] {
  margin: 2px 10px 4px 10px;
  color: #777;
  background-color: #eee;
  cursor: pointer;
  border:1px solid #666;
  width:70px;
  font-size:14px;
  height:22px;
  padding:0;
  line-height:18px;
}

div.jqmDialog input:focus, div.jqmDialog input.iefocus { background-color: #eaffc3; }


div.jqmdAbove { z-index: 5000; top: 8%; } /* used by 4c -- nested modal */

div.jqmdWide { width: 560px; margin-left: -280px; }
div.jqmdTall { height: 330px; }


div.centered { width: 100%; text-align: center; }
div.buttons input{ margin: 10px 14px; }
div.output { margin: 10px; color: red; }

.largeText { font-size: 120%; font-weight: bold; }
.smallText { font-size: 85%; }
