/* Messages */

.tts-textarea{width:95%; padding:3px; height:130px;}
.bt-Envoyer-contener{text-align:right; margin-top:8px; height:34px;}
.nabshare h3 {color:#919F01; margin-top:15px; width:100%; }

/* =messagesListeTable
----------------------------------------------- 
*/
div.messages-contener .messagesListeTable {border-collapse:collapse;}
div.messages-contener .messagesListeTable th { color:white; padding:2px;  font-size:14px;}
div.messages-contener .messagesListeTable tbody {border:1px solid #B5B4B2;}
div.messages-contener .messagesListeTable td {padding:2px; border-left:1px solid #B5B4B2; text-align:center}
div.messages-contener .messagesListeTable td.title {text-align:left}

div.messages-contener .messagesListeTable td a { color:#555; text-decoration:none;}
div.messages-contener .messagesListeTable td a:hover { text-decoration:underline;}

div.messages-contener .messagesListeTable .date{width:80px;}
div.messages-contener .messagesListeTable .played{width:50px;}
div.messages-contener .messagesListeTable .sender,
#messagesListe .send-to { width:120px; }

div.messages-contener .messagesListeTable tr.odd {background-color:#F2F2F2;}
div.messages-contener .messagesListeTable tr.even {background-color:#E6E6E6;}
div.messages-contener .messagesListeTable tr.odd.selected {background-color:#D8D0E1;}
div.messages-contener .messagesListeTable tr.even.selected {background-color:#CCC3D5;}


/* =messages-list-func
----------------------------------------------- 
*/
div.messages-contener ul.messages-list-func  { list-style-type:none; margin:0; padding:0}
div.messages-contener ul.messages-list-func li{ float:left; border:1px solid; margin: 8px 5px 0 0; }
div.messages-contener ul.messages-list-func a { display:block; padding:3px;text-decoration:none; color:#555;}
div.messages-contener ul.messages-list-func a:hover { color:white; }

div.messages-contener .messages-select-action { float:left; margin: 8px 5px 0 10px; }


/* =messagesPlayer
----------------------------------------------- 
*/
div.messages-contener .messagesPlayer { width:40%; margin:5px auto 10px auto; position:absolute; right:0; top:-30px;}

/* =#blocDest
----------------------------------------------- 
*/
#blocDest { height:66px; border:2px solid #ddd; padding:5px; background:#F5F5F5;}


/* =colorSet
----------------------------------------------- 
*/
ul.colorSet { margin:0; padding:0; list-style:none;}
ul.colorSet li{ list-style:none; float:left; margin-right:5px;}

/* =#mp3-sender
----------------------------------------------- 
*/
#mp3-sender ul.menu {float:left; width:35%; margin:0; padding:0; }
#mp3-sender ul.menu li {background-color:#eee; margin-top:5px; list-style:none; position:relative; z-index:100;}
#mp3-sender ul.menu li a {display:block; padding:1px 4px 1px 25px; color:#555; background:url(../../include_img/layout/selector_mp3.gif) no-repeat right; text-decoration:none;}
#mp3-sender .mp3-choice {width:354px; background:white; margin-left:-25px; border:1px dotted #909E01; float:left; min-height:50px; padding:5px 5px 5px 30px;}	
#mp3-sender #mp3Upload {display:none;}

/* =langSelect
----------------------------------------------- 
*/
div.messages-contener ul.langSelect li.selected,
div.messages-contener ul.langSelect li {margin-right:3px; padding:2px;}

/* =cloud
----------------------------------------------- 
*/
.cloud_0 {font-size:9px;}
.cloud_1 {font-size:10px;}
.cloud_2 {font-size:12px;}
.cloud_3 {font-size:15px;}
.cloud_4 {font-size:18px;}


.nabshare .item { text-decoration:none; }
.nabshare .specialBlock .item {color:#555 }
.nabshare .specialBlock .item:hover { color:black; text-decoration:underline; }
#ItemRubSelect a:hover { color:white; text-decoration:none;}
/*
.nabshare .item { text-decoration:none; color:#555}
.nabshare .item:hover {color:black }
*/