/* CSS Document */

.left-block,.right-block { position:relative; min-height:157px; _height:157px; margin-bottom:10px;}


.left-block { margin-left:5px; height:1%; }
.right-block { margin-left:5px; height:1%;}

a.toggleMode {position:absolute; display:block; width:22px; height:22px;  right:5px; top:0px;}
a.toggleMode span {display:none;}


.left-block h1, .right-block h1{font-size:13px; margin:0; font-weight:bold; padding-left:5px; padding-top:3px; background: url(../../include_img/layout/topBlock.gif) top left; height:27px; color:white;}
.left-block h1.bigger, .right-block h1.bigger {background: url(../../include_img/layout/topBlockBigger.gif); height:40px;}
.block-content div { font-family:"Trebuchet MS", arial; }
.block-content 	{ background: #F6F6F6 url(../../include_img/layout/bottomBlock.gif) bottom left no-repeat; padding-bottom:11px; height:1%; }
.block-content .inner { margin-bottom:7px; padding:0px 8px 3px 3px; background: url(../../include_img/layout/backBlock.gif)}
.block-content .inner strong { display:inline;}
.block-content h3 {color:#513F89;font-size:15px;font-weight:bold;padding-left:0pt; text-align:left; padding-top:8px;}

.block-content .block-info { padding:0 5px 5px 5px; text-align:center; height:1%; background: #F6F6F6 url(../../include_img/layout/background-itemright.png) repeat-x scroll left bottom; border-bottom: 1px solid #DDD;}
.block-content .block-info p { text-align:left;}
.block-content div.intro { color:#CC0000; font-size:14px; font-weight:bold; line-height:18px; margin-bottom:4px;}

.block-content ul { margin:0; padding:0; list-style:none; height:1%; }
.block-content li { margin:0; padding:0 0 0 20px; position:relative; border-bottom:1px dotted #eee; height:1%;  }
.block-content li a { display:block; color:#444; padding: 1px 0 0 2px;  margin:0 0 0 5px; outline:none; text-decoration:none;}
.block-content li a:hover { background-color:#eee }
.block-content li a.selected { background-color:#B80171; color:white; }


/* =#bloc-MyServices
----------------------------------------------- 
*/
#bloc-MyServices img.loader {display:none; background:white; position:absolute; left:1px; top:2px;}
#bloc-MyServices li { background-repeat:no-repeat; background-position:0 center;}
#bloc-MyServices li a{ line-height:23px}


/* corrige miraculeusement un bug sur ie7... */
.left-block, .right-block {background:#F2F2F2; }

/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* =nablives
----------------------------------------------- 
*/
#bloc-nablives .nablives-img { text-align:center; margin-bottom:5px;}
#bloc-nablives .nablives-img img {border:none;} 
#bloc-nablives .nablives-quote { background:url(../../include_img/layout/quote_on.gif) no-repeat; background-position:top left; padding-left:24px; padding-top:5px;}
#bloc-nablives blockquote {  background:url(../../include_img/layout/quote_off.gif) no-repeat; background-position:bottom right; padding:0 5px 8px 0; margin:0; display:block;}
#bloc-nablives blockquote a {font-size:15px; font-weight:bold; text-decoration:none;}
#bloc-nablives blockquote a:hover {color:#555;}
#bloc-nablives .nablives-sign { font-style:italic; margin-top:5px; text-align:right; padding-left:5px; padding-right:10px; padding-bottom:5px;}

/* =homeBloc
----------------------------------------------- 
*/
#bloc-homeBloc div.part { height:1%; background:#f6f6f6 url(../../include_img/layout/background-itemright.png) repeat-x scroll left bottom; padding:5px 10px; border-top:1px solid white; border-bottom:1px solid #ddd; }
#bloc-homeBloc div.friend { padding-bottom:16px;}
#bloc-homeBloc h1 {display:none}
#bloc-homeBloc h2, #bloc-homeBloc h2 a {color:#c00; font-size:14px; line-height:16px;}


#bloc-homeBloc a.link-arrow { display:block; padding-right:20px; background: url(../../include_img/layout/link-arrow.gif) no-repeat; background-position:right 1px;}
#bloc-homeBloc a.link-arrow:hover { background-position:right -180px;}


#bloc-homeBloc .create-account a,
#bloc-homeBloc .friend a,
#bloc-homeBloc .nabaztag-desc a { color:#555; text-decoration:none;}

#bloc-homeBloc .divChangeLink  { display:block; margin-top:5px; }

#bloc-homeBloc, #bloc-homeBloc .block-content { background:none; background-image:none; margin:0; padding:0;}
#bloc-homeBloc {margin:0; width:100%; position:relative; z-index:100; margin-top:2px;}
#bloc-homeBloc div.lapinTrans { background:url(../../include_img/blocks/lapinTransp.png); width:115px; height:153px; margin:0 auto; margin-top:-30px;} 
#bloc-homeBloc label { display:block; margin-top:8px;}
#bloc-homeBloc input { width:160px; }
#bloc-homeBloc input.genericBt { width:70px; margin: 8px 0 0 45px; }
#bloc-homeBloc .website-language label,
#bloc-homeBloc .website-language select { font-size:10px;}
#bloc-homeBloc .website-language label { display:inline;}
#bloc-homeBloc .website-language select { width:75px;}

#bloc-homeBloc .recover-form .div-spacer,
#bloc-homeBloc .login .div-spacer { text-align:center;}

#bloc-homeBloc .recover-form .div-spacer button,
#bloc-homeBloc .login .div-spacer button { /*width:50%;*/ }
